body {
	background: #222;
	color: #eee;
	margin-top: 20px;
	font-family: 'Lobster', cursive;
}

h1 {
	font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 16px;
	text-align: center;
}

h3 {
	font-size: 16px;
	text-align: right;
	justify-content: center;
}

h4 {
  font-size: 16px;
	text-align: left;
	padding-left: 50px;
}

.modal-content {
	color: black;
}

#post-btn {
	justify-content: center;
	text-align: center;
	margin-left:20px;
	position: absolute;
	left: 0px;
	width: 50px;
}

#logout-btn {
	justify-content: center;
	text-align: center;
	padding-left: 12px;
	width: 70px;
	margin-right: 20px;
}

a {
	color: #FFF;
}

a:hover {
	color: yellow;
	text-decoration: underline;
}

.main-header {
  flex: 0 1 auto;
}

.logo-text {
	color: black;
	padding-right: 40px;
  text-align: center;
	justify-content: center;
}

.thumbnail-item {
	align-items: center;
	justify-content: center;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-image {
	height: 60px;
	width: 130px;
	justify-content: center;
}

.thumbnail-list {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-title {
	display: block;
	margin: 0;
	text-align: center;
	padding: 4px 10px;
	background: rgb(96, 125, 139);
	color: rgb(202, 238, 255);
  font-size: 14px;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame {
  position: relative;
  text-align: center;
}

.detail-image {
  width: 600px;
}

.detail-image-preview {
  height: 450px;
}

.detail-image-title {
  position: relative;
	text-align: center;
  bottom: -16px;
  color: black;
  /*text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;*/
  font-size: 40px;
}

.modal-content {
	width: 700px;
	justify-content: center;

}

.detail-image-description {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0px 100px 0px 100px;
	white-space: pre-line;
	text-align:left;
	justify-content: flex-start;
}

.panel-body {
	color: black;
}

.container-fluid {
	color: black;
}